.container.search {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}
.container.search label {
  height: 100%;
  width: 100%;
  background: var(--white);
  display: flex;
  place-items: center;
  padding: 5px;
  cursor: pointer;
}
.container.search input {
  all: inherit;
  background: var(--white);
  width: 100%;
  padding: 5px;
}
.container.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 700px) {
  .container.cards {
    grid-template-columns: 1fr;
  }
}
/* for request page */
.request-btn {
  all: initial;
  font-family: inherit;
  font-size: 1.2em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 50%;
  background: var(--yellow);
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
  padding: 0 10px;
  z-index: 100;
  transform: translateX(-50%);
}
.request-btn:hover {
  background: var(--yellow);
  color: var(--white);
}