button:hover {
  background-image: linear-gradient(
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2)
  ) !important;
}
.forms > div.absolute {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  gap: 40px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.forms > div.absolute > p {
  background: var(--white);
  padding: 5px;
}
.format {
  display: flex;
  width: 100%;
  height: 300px;
  background: #000;
  margin: 100px 0;
  position: relative;
  overflow: hidden;
}
#typeCar_nameItem {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding: 50px;
  width: fit-content;
  margin: auto;
  color: var(--white);
}

#typeCar_nameItem > section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}
:is(#typeCar_nameItem, #itemDetails) select {
  all: initial;
  text-align: center;
  box-sizing: border-box;
  background: var(--white);
  font-family: inherit;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}
:is(#typeCar_nameItem input, #itemDetails input) {
  all: initial;
  box-sizing: border-box;
  background: var(--white);
  padding: 0 10px;
  font-family: inherit;
  font-size: 14px;
}
:is(#typeCar_nameItem > button, #itemDetails button ) {
  all: initial;
  padding: 15px;
  font-size: 22px;
  background: var(--yellow);
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
#itemDetails {
  width: fit-content;
  margin: auto;
  display: none;
  gap: 10px;
  color: var(--white);
}

#itemDetails > section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


@media (max-width: 500px) {
  label {
    display: none;
  }
}