.carsType {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  text-align: center;
}

.carsType > a {
  color: var(--white);
  text-decoration: none;
  display: block;
  background: #000;
  font-size: 35px;
  padding: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.carsType > a:hover {
  background: var(--yellow);
}
